<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/basics/head'); %>
    <%- include('../partials/basics/header_external_scripts'); %>
</head>

<body class="lightblue-bg">
    <%- include('../partials/basics/header'); %>
    
    <main id="main">
        <div id="objectData" class="d-none" data-test="<%= JSON.stringify(objectData) %>"></div>
        <div class="mt-3"><h1 class="text-center">
            <%= objectData.title ? objectData.title : "Dataset ID: " + objectData.object_id %>
        </h1></div>
        <%- include('../partials/charts/charts', { typeOfObject: 'dataset' }); %>
        
        <%- include('../partials/charts/accordion_list', { list: objectData.resources, typeOfObject: 'resource' }); %>
    </main>
    
    <%- include('../partials/basics/footer'); %>
    
    <%- include('../partials/basics/external_scripts'); %>
</body>