<section class="container d-flex flex-column align-items-center justify-content-evenly p-2">
    <%- include('./rating'); %>
    <%- include('./findability', { chart: objectData.result.findChart }); %>
    <%- include('./accessibility', { chart: objectData.result.accessChart }); %>
    <%- include('./interoperability', { chart: objectData.result.interChart }); %>
    <%- include('./reusability', { chart: objectData.result.reuseChart }); %>
    <%- include('./contextuality', { chart: objectData.result.contextChart }); %>
</section>

<script src="/scripts/charts/tooltips.js"></script>