<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/results.css">
</head>

<body class="primary-color-bg darkpurple-font">
    <main class="centered-flex vertical-flex">
        <div class="results-title centered-flex vertical-flex container goldish-color-bg">
            <h1 class="centered-text redish-font"><%= dataset.title ? dataset.title : "Unknown" %></h1>
            <div class="basic-info slightly-bigger-text">
                <span>
                    <span class="info-name">Organization: </span>
                    <a class="license-link darkpurple-font" title="Go to license website (if exists)"
                        href="<%= dataset.organization ? '/portal/' + portalName + '/organization/' + dataset.organization.id : '#' %>"
                    >
                    <%= dataset.organization ? dataset.organization.title : "unknown" %>
                    </a>
                </span>
                <span>
                    <span class="info-name">State: </span>
                    <%= dataset.state ? dataset.state : "unknown" %>
                </span>
                <span>
                    <span class="info-name">License: </span>
                    <a class="license-link darkpurple-font" title="Go to license website (if exists)"
                        href="<%= dataset.license_url ? dataset.license_url : '#' %>" target="_blank"
                    >
                        <%= dataset.license_title ? dataset.license_title : "unknown" %>
                    </a>
                </span>
            </div>
            <p class="notes-container">
                <span class="notes info-name slightly-bigger-text">Notes: </span>
                <%= dataset.notes ? dataset.notes : "Notes are empty" %>
            </p>
        </div>

        <div class="analysis-results basic-info vertical-flex container goldish-color-bg">
            <h2 class="redish-font">Analysis results</h2>
            <div class="missing-params">
                <% if(results.missingParams.length > 0) { %>
                    Metadata is missing <span class="redish-font"><%= results.numbers.numOfBadParams %> out of 
                    <%= results.numbers.numOfParams %></span> useful parameters:
                    <ul class="list-in-five-columns">
                        <% for(let param of results.missingParams) { %>
                            <li class="equally-spaced-columns italic-font">
                                <%= param %>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    Metadata contains all useful parameters.
                <% } %>
            </div>
            <p class="last-modified-container">
                <% if (results.lastModified >= 0) { %>
                    Metadata for this datased was last modified 
                    <span class="info-name"><%= results.lastModified %></span> months ago.
                <% } else { %>
                    Parameter <span class="info-name italic-font">metadata_last_modified </span>
                    is invalid (or missing)!
                <% } %>
            </p>
            <% if(results.license.status.code >= 400) { %>
                <p class="info-container">
                    License URL responds with error:
                    <span class="redish-font italic-font">
                        <%= results.license.status.code + " " + results.license.status.text %>
                    </span>
                </p>
            <% } %>
        </div>

        <div class="resources-list centered-flex vertical-flex container goldish-color-bg">
            <h2 class="redish-font">Resources</h2>
            <% if(dataset.resources.length==0) { %>
                <span>Dataset does not contain any resources.</span>
            <% } else { %>
                <span>
                    <span class="info-name">Number of resources: </span>
                    <%= dataset.resources.length %>
                </span>
                <ul class="list-in-two-columns">
                    <% for(let resource of dataset.resources) { %>
                        <li class="equally-spaced-columns">
                            <span class="redish-font"><%= resource.format ? resource.format : "unknown" %></span>: 
                            <a class="darkpurple-font"
                               href="/portal/<%= portalName %>/resource/<%= resource.id %>">
                                <%= resource.name ? resource.name : resource.id %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </main>

</body>