<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/results.css">
</head>

<body class="primary-color-bg darkpurple-font">
    <main class="centered-flex vertical-flex">
        <div class="results-title centered-flex vertical-flex container goldish-color-bg">
            <h1 class="centered-text redish-font"><%= resource.name ? resource.name : resource.id %></h1>
            <div class="basic-info slightly-bigger-text">
                <span>
                    <span class="info-name">Format: </span>
                    <%= resource.format ? resource.format : "Unknown" %>
                </span>
                <span>
                    <span class="info-name">State: </span>
                    <%= resource.state ? resource.state : "unknown" %>
                </span>
                <span>
                    <span class="info-name">Download resource</span>
                    <a class="url-link darkpurple-font" title="Download resource (if download URL exists)"
                        href="<%= resource.url ? resource.url : '#' %>" target="_blank"
                    >here</a>
                </span>
            </div>
            <p class="description-container">
                <span class="description info-name slightly-bigger-text">Description: </span>
                <%= resource.description ? resource.description : "Description is empty" %>
            </p>
        </div>

        <div class="analysis-results basic-info vertical-flex container goldish-color-bg">
            <h2 class="redish-font">Analysis results</h2>
            <div class="missing-params">
                <% if(results.missingParams.length > 0) { %>
                Metadata is missing <span class="redish-font"><%= results.numbers.numOfBadParams %> out of
                <%= results.numbers.numOfParams %></span> useful parameters:
                    <ul class="list-in-five-columns">
                        <% for(let param of results.missingParams) { %>
                            <li class="equally-spaced-columns italic-font">
                                <%= param %>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    Metadata contains all useful parameters.
                <% } %>
            </div>
            <% if(results.download.error) { %>
                <p class="info-container">
                    Download URL does not represent a legal URL format: 
                    <span class="redish-font italic-font">
                        <%= results.download.message %>
                    </span>
                </p>
            <% } else if(results.download.status.code >= 400) { %>
                <p class="info-container">
                    Download URL responds with error: 
                    <span class="redish-font italic-font">
                        <%= results.download.status.code + " " + results.download.status.text %>
                    </span>
                </p>
            <% } %>
            <p class="info-container">
                Download URL returns <span class="info-name"><%= results.download.format %></span> format
                and the expected format from metadata was <span class="info-name"><%= resource.format %></span>.
            </p>
        </div>
    </main>

</body>
